* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 0 40px 0 40px;
    background-image: linear-gradient(to right, rgb(174, 174, 174), rgb(255, 255, 255), rgb(255, 255, 255), rgb(174, 174, 174));

}
header {
    background-image: url(./background/burnt-wood-texture.jpg);
    height: 100%;
    width: 100%;
    padding: 30px;
    text-align: center;
}
h1 {
  text-align: center;
}
header h1 {
    color: rgb(229, 229, 229);
    font-size: 50px;
}
header p {
  font-weight: 300;
  font-family: 'BV Cursive Ital', cursive, sans-serif;
  color: rgb(221, 221, 221);
  font-size: 25px;
}
nav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
nav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  /* Change color on hover */
nav a:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
}
input[type=text] {
  width: 50%;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
  border-radius: 4px;
  text-align: center;
}
::placeholder {
  font-size: 15px;
  font-style: italic;
  opacity: .5;
}
input[type=text]:focus {
  border: 2px solid #333;
}
input[type="submit"], input[type="reset"] {
  border: none;
  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 4px;
  color: rgb(242, 242, 242);
  text-align: center;
  cursor: pointer;
  transition: .5s ease background-color;
}
input[type="submit"]:hover, 
input[type="reset"]:hover {
  background: rgb(147, 147, 147);
  color: rgb(0, 0, 0);
}
.cardImgR {
  width: 25%;
  height: 40%;
  float: right;
}
.cardImgL {
  width: 25%;
  height: 40%;
}
.cardCenterTxt {
  width: 50%;
  text-align: center;
  float: right;
  padding: 20px;
}
/*ID's*/
#aboutMe {
  width: 100%;
}
/*CLASSES*/
.custHead {
  color: rgb(174, 174, 174);
  /* background-image: linear-gradient(to right,
  rgb(174, 174, 174),
  rgb(97, 97, 97), 
  rgb(97, 97, 97), 
  rgb(174, 174, 174));  */
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.error {
  color: #ff0000;
}
.imgRow {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  display: -ms-flexbox;
}
.imgColumn {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gridImg {
  margin-top: 8px;
  vertical-align: middle;
  width: auto;
  height: auto;
}
.roundedLine {
  border-top: 8px solid #DDDDDD;
  border-radius: 5px;
}
.navButtons {
    display: block;
}
.leftcolumn {
    /* text-align: center; */
    float: left;
    width: 75%;
}
  /* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
    /* border-left: 1px solid rgb(174, 174, 174); */
    /* height: 40px; */
}
.rightFloatNav {
    float: right;
}
  /* Fake image */
.fakeimg {
    width: 100%;
    padding: 20px;
}
  /* Add a card effect for articles */
.card {
  text-align: center;
    padding: 20px;
}
.vLine {
  border-left: 1px solid rgb(174, 174, 174);
}
.center-form {
  text-align: center;
}
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  /* background-color: rgb(229, 229, 229); */
  padding-top: 20px;
}
table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border: 1px solid black;
  text-align: left;
  padding: 6px;
}
tr:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
footer {
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-top: 30px;
    margin-bottom: 0;
}
hr {
  width: 50%;
}
/* Unused Items */
/* .imgHeader {
  /* background-image: url(/Final/background/burnt-wood-texture.jpg);
  height: 100%;
  width: 100%; 
} 
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #ddd;
  padding: 10px;
}
.grid-item {
  text-align: center;
  border: 1px solid #333;
  padding: 20px;
}
.cardGrad {
  /* background-image: linear-gradient(to right, rgb(174, 174, 174), rgb(255, 255, 255), rgb(255, 255, 255), rgb(174, 174, 174));
}
*/
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
    video {
      width: 100%;
    }
    nav a {
      text-align: center;
      float: none;
      width: 100%;
    }
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    .imgColumn {
      -ms-flex: 50%;
      flex: 100%;
      max-width: 100%;
    }
}
  /* 400px */
@media screen and (max-width: 414px) {
    body {
      font-family: Arial;
      padding: 0;
    }
    nav a {
      text-align: center;
      float: none;
      width: 100%;
    }
    .card {
      padding: 0;
    }
    .cardCenterTxt {
      width: 100%;
      float: none;
      padding: 0;
    }
    .imgColumn {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
    .card p {
      padding: 0;
    }
    .card img {
      width: 100%;
      float: none;
    }
}