* {
    box-sizing: border-box;
}
body {
    font-family: Arial;
    padding: 0 2.5em 0 2.5em;
    background-image: linear-gradient(to right, rgb(174, 174, 174), rgb(255, 255, 255), rgb(255, 255, 255), rgb(174, 174, 174));

}
header {
    background-image: url(./background/burnt-wood-texture.jpg);
    height: 100%;
    width: 100%;
    padding: 1.875em;
    text-align: center;
}
h1 {
  text-align: center;
}
header h1 {
    color: rgb(229, 229, 229);
    font-size: 3.125em;
}
header p {
  font-weight: 300;
  font-family: 'BV Cursive Ital', cursive, sans-serif;
  color: rgb(221, 221, 221);
  font-size: 1.5625em;
}
nav {
    overflow: hidden;
    background-color: rgb(51, 51, 51);
}
nav a {
    float: left;
    display: block;
    color: rgb(242, 242, 242);
    text-align: center;
    padding: .8750em 1em;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(0, 0, 0);
}
input[type=text] {
  width: 50%;
  padding: 10px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  font-size: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  outline: none;
  border-radius: 4px;
  text-align: center;
}
::placeholder {
  font-size: 15px;
  font-style: italic;
  opacity: .5;
}
input[type=text]:focus {
  border: 2px solid #333;
}
input[type="submit"], input[type="reset"] {
  border: none;
  background-color: rgb(51, 51, 51);
  box-sizing: border-box;
  padding: 12px 20px;
  font-size: 20px;
  border-radius: 4px;
  color: rgb(242, 242, 242);
  text-align: center;
  cursor: pointer;
  transition: .5s ease background-color;
}
input[type="submit"]:hover, 
input[type="reset"]:hover {
  background: rgb(147, 147, 147);
  color: rgb(0, 0, 0);
}
.cardImgR {
  width: 25%;
  height: 40%;
  float: right;
}
.cardImgL {
  width: 25%;
  height: 40%;
}
.cardCenterTxt {
  width: 50%;
  text-align: center;
  float: right;
  padding: 20px;
}
.buttonSet {
  text-decoration: none;
  font-style: none;
  background-color: inherit;
  width: 100%;
  border: none;
  text-align: center;
  box-sizing: border-box;
}
/*ID's*/
#aboutMe {
  width: 100%;
}
.custHead {
  color: rgb(174, 174, 174);
  padding: 30px 0;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.error {
  color: #ff0000;
}
.imgRow {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
  display: -ms-flexbox;
}
.imgColumn {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}
.gridImg {
  margin-top: 8px;
  vertical-align: middle;
  width: auto;
  height: auto;
}
.roundedLine {
  border-top: 8px solid #DDDDDD;
  border-radius: 5px;
}
.navButtons {
    display: block;
}
.leftcolumn {
    float: left;
    width: 75%;
}
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}
.rightFloatNav {
    float: right;
}
.card {
  text-align: center;
    padding: 20px;
}
.vLine {
  border-left: 1px solid rgb(174, 174, 174);
}
.center-form {
  text-align: center;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row {
  padding-top: 20px;
}
table {
  border: .0625em solid rgb(51, 51, 51);
  border-collapse: collapse;
  width: 100%;
}
.tableFormat {
  border: 1px solid rgb(51, 51, 51);
  border-radius: 1em;
  overflow-x: auto;
  margin: 2em 0 2em 0;
}
th, td {
  border: 1px solid rgb(51, 51, 51);
  text-align: left;
  padding: 6px;
}
tr:nth-child(even) {
  background-color: rgb(201, 201, 201);
}
footer {
    padding: 5px;
    font-size: 10px;
    text-align: center;
    color: rgb(51, 51, 51);
    margin-top: 30px;
    margin-bottom: 0;
}
hr {
  width: 50%;
}
.hrNoShow {
  display: none;
}
.hrShow {
  display:block;
}
@media screen and (max-width: 926px) {
    video {
      width: 100%;
    }
    textarea {
      width: 100%;
    }
    nav a {
      text-align: center;
      float: none;
      width: 100%;
    }
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    .imgColumn {
      -ms-flex: 50%;
      flex: 100%;
      max-width: 100%;
    }
    .vLine {
      border: none;
    }
    .hrNoShow {
      display: block;
    }
    .hrShow {
      display: none;
    }
}
@media screen and (max-width: 428px) {
    body {
      font-family: Arial;
      padding: 0;
    }
    textarea {
      width: 100%;
    }
    nav a {
      text-align: center;
      float: none;
      width: 100%;
    }
    .card {
      padding: 20px 0;
    }
    .cardCenterTxt {
      width: 100%;
      float: none;
      padding: 0;
    }
    .imgColumn {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
    .card p {
      padding: 0;
    }
    .card img {
      width: 100%;
      float: none;
    }
    #igIcon {
      width: 25%;
      height: 25%;
      float: none;
    }
    .vLine {
      border: none;
    }
    .hrNoShow {
      display: block;
    }
    .hrShow {
      display: none;
    }
}